extends base

block content
    body
        div(class="pageWrapper")
            include _header
            div(class="pageContent")
                include _sidebar
                div(class="content content--active" id="settings")
                    div(class="contentHeader")
                        div(class="contentHeader__title")
                            
                            div(class="contentHeader__breadcrumb")
                                ul(class="breadcrumb")
                                    
                    div(class="accountSettings")
                        div(class="accountSettings__menu")
                            ul
                                
                        div(class="accountSettings__component")
                            div(class="accountSettings__componentHeader")
                                span Basic Information
                            form(action="/request-customer" method="post" class="accountSettings__Form")
                                div(class="accountSettings__FormGroup")
                                    //- label(for="settingInfo_image") Photo
                                    //- div(class="accountSettings__FormGroupUserPhoto")
                                    //-     label(for="profile_image")
                                            //- img(src="img/user_profile.jpg" alt="user_photo" class="settingInfo__userphoto")
                                            //- input(type="file" id="profile_image")
                                            //- span
                                                //- i(class="fas fa-pencil-alt")
                                div(class="accountSettings__FormGroup")
                                    label(for="customerInfo_firstName") First Name
                                    div
                                        input(type="text" name="first_name" id="customerInfo_firstName" value=(user===undefined ? '' : user.first_name))
                                div(class="accountSettings__FormGroup")
                                    label(for="customerInfo_lastName") Last Name
                                    div
                                        input(type="text" name="last_name" id="customerInfo_lastName" value=(user===undefined ? '' : user.last_name))
                                div(class="accountSettings__FormGroup")
                                    label(for="customerInfo_companyName") Company Name
                                    div
                                        input(type="text" id="customerInfo_companyName" value=(user===undefined ? '' : user.company))
                                div(class="accountSettings__FormGroup")
                                    label(for="customerInfo_email") Email
                                    div
                                        input(type="email" id="customerInfo_email" value=(user===undefined ? '' : user.email))
                                div(class="accountSettings__FormGroup")
                                     label(for="customerInfo_phoneNumber") Phone
                                     div
                                        input(type="text" id="customerInfo_phoneNumber" value=(user===undefined ? '' : user.phone))
                                div(class="accountSettings__FormGroup")
                                    label(for="customerInfo_address1") Address
                                    div
                                        input(type="text" name="address1" id="customerInfo_address1" value=(user===undefined ? '' : user.address1))
                                div(class="accountSettings__FormGroup")
                                    label(for="customerInfo_address2") Address
                                    div
                                        input(type="text" name="address2" id="customerInfo_address2" value=(user===undefined ? '' : user.address2))
                                div(class="accountSettings__FormGroup")
                                    label(for="customerInfo_city") City
                                    div
                                        input(type="text" name="city" id="customerInfo_city" value=(user===undefined ? '' : user.city))
                                div(class="accountSettings__FormGroup" id="accountSettings__FormGroupStates")
                                    label(for="state") State
                                    div
                                        select(name="state" id="customerInfo_state")
                                            option(value="" selected=(user===undefined ? 'selected' : false) disable) Select a State
                                            option(value="AL" selected=(user && user.state === 'AL' ? 'selected' : false)) Alabama
                                            option(value="AK" selected=(user && user.state === 'AK' ? 'selected' : false)) Alaska
                                            option(value="AZ" selected=(user && user.state === 'AZ' ? 'selected' : false)) Arizona
                                            option(value="AR" selected=(user && user.state === 'AR' ? 'selected' : false)) Arkansas
                                            option(value="CA" selected=(user && user.state === 'CA' ? 'selected' : false)) California
                                            option(value="CO" selected=(user && user.state === 'CO' ? 'selected' : false)) Colorado
                                            option(value="CT" selected=(user && user.state === 'CT' ? 'selected' : false)) Connecticut
                                            option(value="DE" selected=(user && user.state === 'DE' ? 'selected' : false)) Delaware
                                            option(value="DC" selected=(user && user.state === 'DC' ? 'selected' : false)) District Of Columbia
                                            option(value="FL" selected=(user && user.state === 'FL' ? 'selected' : false)) Florida
                                            option(value="GA" selected=(user && user.state === 'GA' ? 'selected' : false)) Georgia
                                            option(value="HI" selected=(user && user.state === 'HI' ? 'selected' : false)) Hawaii
                                            option(value="ID" selected=(user && user.state === 'ID' ? 'selected' : false)) Idaho
                                            option(value="IL" selected=(user && user.state === 'IL' ? 'selected' : false)) Illinois
                                            option(value="IN" selected=(user && user.state === 'IN' ? 'selected' : false)) Indiana
                                            option(value="IA" selected=(user && user.state === 'IA' ? 'selected' : false)) Iowa
                                            option(value="KS" selected=(user && user.state === 'KS' ? 'selected' : false)) Kansas
                                            option(value="KY" selected=(user && user.state === 'KY' ? 'selected' : false)) Kentucky
                                            option(value="LA" selected=(user && user.state === 'LA' ? 'selected' : false)) Louisiana
                                            option(value="ME" selected=(user && user.state === 'ME' ? 'selected' : false)) Maine
                                            option(value="MD" selected=(user && user.state === 'MD' ? 'selected' : false)) Maryland
                                            option(value="MA" selected=(user && user.state === 'MA' ? 'selected' : false)) Massachusetts
                                            option(value="MI" selected=(user && user.state === 'MI' ? 'selected' : false)) Michigan
                                            option(value="MN" selected=(user && user.state === 'MN' ? 'selected' : false)) Minnesota
                                            option(value="MS" selected=(user && user.state === 'MS' ? 'selected' : false)) Mississippi
                                            option(value="MO" selected=(user && user.state === 'MO' ? 'selected' : false)) Missouri
                                            option(value="MT" selected=(user && user.state === 'MT' ? 'selected' : false)) Montana
                                            option(value="NE" selected=(user && user.state === 'NE' ? 'selected' : false)) Nebraska
                                            option(value="NV" selected=(user && user.state === 'NV' ? 'selected' : false)) Nevada
                                            option(value="NH" selected=(user && user.state === 'NH' ? 'selected' : false)) New Hampshire
                                            option(value="NJ" selected=(user && user.state === 'NJ' ? 'selected' : false)) New Jersey
                                            option(value="NM" selected=(user && user.state === 'NM' ? 'selected' : false)) New Mexico
                                            option(value="NY" selected=(user && user.state === 'NY' ? 'selected' : false)) New York
                                            option(value="NC" selected=(user && user.state === 'NC' ? 'selected' : false)) North Carolina
                                            option(value="ND" selected=(user && user.state === 'ND' ? 'selected' : false)) North Dakota
                                            option(value="OH" selected=(user && user.state === 'OH' ? 'selected' : false)) Ohio
                                            option(value="OK" selected=(user && user.state === 'OK' ? 'selected' : false)) Oklahoma
                                            option(value="OR" selected=(user && user.state === 'OR' ? 'selected' : false)) Oregon
                                            option(value="PA" selected=(user && user.state === 'PA' ? 'selected' : false)) Pennsylvania
                                            option(value="RI" selected=(user && user.state === 'RI' ? 'selected' : false)) Rhode Island
                                            option(value="SC" selected=(user && user.state === 'SC' ? 'selected' : false)) South Carolina
                                            option(value="SD" selected=(user && user.state === 'SD' ? 'selected' : false)) South Dakota
                                            option(value="TN" selected=(user && user.state === 'TN' ? 'selected' : false)) Tennessee
                                            option(value="TX" selected=(user && user.state === 'TX' ? 'selected' : false)) Texas
                                            option(value="UT" selected=(user && user.state === 'UT' ? 'selected' : false)) Utah
                                            option(value="VT" selected=(user && user.state === 'VT' ? 'selected' : false)) Vermont
                                            option(value="VA" selected=(user && user.state === 'VA' ? 'selected' : false)) Virginia
                                            option(value="WA" selected=(user && user.state === 'WA' ? 'selected' : false)) Washington
                                            option(value="WV" selected=(user && user.state === 'WV' ? 'selected' : false)) West Virginia
                                            option(value="WI" selected=(user && user.state === 'WI' ? 'selected' : false)) Wisconsin
                                            option(value="WY" selected=(user && user.state === 'WY' ? 'selected' : false)) Wyoming
                                div(class="accountSettings__FormGroup")
                                    label(for="customerInfo_zipcode") Zipcode
                                    div
                                        input(id="customerInfo_zipcode" name="zip_code" type="number" maxlength="5"  value=(user===undefined ? '' : user.zip_code) required)
                                div(class="accountSettings__FormGroup")
                                    label(for="customerInfo_country") Country
                                    div
                                        input(type="text" id="customerInfo_country"  value=(user===undefined ? '' : user.country) required)
                                if errors
                                    ul
                                    for error in errors
                                        li!= error.msg
                                div(class="accountSettings__FormGroup")
                                    button(class="accountSettings__FormGroupSubmitButton" type="submit" id="sendRequestNewCustomersButton") Save Changes